 <app-my-header name="Лабораторна робота №7" variant="Варіант 6"> </app-my-header> 

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання </ion-card-title>
      <p> Провести табулювання, обрахувати за допомогою циклу та рекурсії наступну функцію:</p>
      <div class="img_formula"></div>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Початкове значення xn</ion-label>
        <ion-input type="number" id="xn" placeholder="-2" value="-2" [(ngModel)]="Inputxn"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Кінцеве значення xk</ion-label>
        <ion-input type="number" id="xk" placeholder="2" value="2" [(ngModel)]="Inputxk"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Крок h</ion-label>
        <ion-input type="number" id="h" placeholder="0.5" value="0.5" [(ngModel)]="Inputh"></ion-input>
      </ion-item>
      
      <ion-button (click)="calculation(Inputxn, Inputxk, Inputh)" (click)="graph(Inputxn, Inputxk, Inputh)">Розрахунок</ion-button> 
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Результати розрахунку </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item *ngFor="let item of xyInput | keyvalue">
        <ion-label>
          <h4>{{item.key}}</h4>
          <h4>{{item.value}}</h4>
        </ion-label>
      </ion-item>       
      <ion-item>
        <canvas #lineCanvasTab></canvas>
      </ion-item>
      <ion-item>
        <canvas #lineCanvasSeries></canvas>
      </ion-item>
      <ion-item>
        <canvas #lineCanvasRecursion></canvas>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
