.img_formula {
    background: url('Image/formula.jpg');
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}