<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №5
    </ion-title>
  </ion-toolbar>
 
  <ion-toolbar>
    <ion-title>
      Виконав Веріємчук Д.П. КН-32
    </ion-title>
 </ion-toolbar>
 
 <ion-toolbar>
  <ion-title>
    Варіант 6
  </ion-title>
 </ion-toolbar> 
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Необхідно додати у розроблений в попередній лабораторній роботі
        застосунок для тестування завдань виконаних у попередній лабораторній роботі. </p>

      <p>Варіант: батьківський клас - Одяг (поле "назва"), нащадки - Пальто (поле V - розмір) та Костюм (поле H - зріст). Метод - Витрати тканини.
        Організувати обчислення сумарної витрати тканини.
      </p>
                      
    </ion-card-content>
  </ion-card>
</ion-content>
