<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №3
    </ion-title>
  </ion-toolbar>
 
  <ion-toolbar>
    <ion-title>
      Виконав Веріємчук Д.П. КН-32
    </ion-title>
  </ion-toolbar>
 
  <ion-toolbar>
    <ion-title>
      Варіант 6
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання </ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>Необхідно обробити JSON файл про кількість студентів у групі, 
        отриманий з серверу. Позначити кольором групи, де кількість студентів менше за введене у
        форму значення.</p> 
      <ion-item>
        <ion-label position="stacked">Кількість студентів:</ion-label>
        <ion-input type="number" id="x" placeholder="25" [(ngModel)]="Inputx"></ion-input>
      </ion-item>
      
      <ion-button expand="block" (click)="load(Inputx)">Завантажити</ion-button>
      
      <ion-item> 
        <ion-list>
          <ion-item button *ngFor= "let item of data_user; index as i" (click) = "toggleDetails(i)"> 
          <ion-label *ngIf = "!showDetails[i]" text-wrap>
            <p [ngStyle]="{color:getGreen(item.students, x)}"> 
              <span><b>{{item.name}} </b></span>, {{item.students}} 
            </p>
          </ion-label>

          <ion-text *ngIf = "showDetails[i]">
            <p [ngStyle]="{color:getGreen(item.students, x)}"><b>Група:</b> {{item.name}} </p> 
            <p><b>Курс:</b> {{item.course}} </p> 
            <p><b>Староста:</b> {{item.lead}}</p>  
            <p><b>Кількість студентів:</b> {{item.students}} </p> 
          </ion-text>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

